<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid display-flex">
    
    <a class="navbar-brand" href="/"><img src="/img/logo/imagotipo.png" alt="" width="200" height="40"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="navbar-nav" style="flex-grow: 1; justify-content: space-between;">
        <div class="d-flex">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/travels/europe">Viaja por Europa</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/travels/spain">Viaja por España</a>
          </li>

          {{#if currentUser.admin}}
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/travels/create">Crear viaje</a>
            </li>
          {{/if}}
        </div>

        <div class="d-flex">
          {{#if currentUser}}
            <li class="nav-item"><a class="nav-link" aria-current="page" href="/profile">
            <img  src="{{currentUser.avatar}}" style="width: 30px;"/>
            {{ currentUser.email }}</a></li>
            <li class="nav-item"><a class="nav-link" aria-current="page" href="/logout"><i class="fa fa-sign-out"></i></a></li>
          {{else}}
            <li class="nav-item"><a class="nav-link" aria-current="page" href="/register">Register</a></li>
            <li class="nav-item"><a class="nav-link" aria-current="page" href="/login">Login</a></li>
          {{/if}}
        </div>
      </ul>
    </div>
  </div>
</nav>