body {
  background-image: url("/img/bgimage.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.travel-card-image {
  height: 276px;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
}

.card {
  max-height: 278px;
  font-size: 10px;
}

.carousel-item img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.carousel-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#carouselExampleIndicators {
  background-image: url(https://cdn.pixabay.com/photo/2016/11/16/05/11/man-1828202_1280.jpg);
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
}
 ul {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;

 }

article.contenido-regalo {
  background-image: url(https://cdn.pixabay.com/photo/2016/11/16/05/11/man-1828202_1280.jpg);
}

.home {
  height: 100%;
  max-height: 250px;
  padding: 20px;
  background-image: url("/img/2.webp");
  background-position:center;
  width: 100%;
}

.seleccionar-viajeros {
  background: #fff;
  border-top: 3px solid #efefef;
  height: auto;
  box-shadow: 0 8px 5px -6px rgb(0 0 0 / 28%);
  -moz-box-shadow: 0 8px 5px -6px rgba(0,0,0,.28);
  -webkit-box-shadow: 0 8px 5px -6px rgb(0 0 0 / 28%); 
}

body, html {
    color: #111;
    font-family: Montserrat,sans-serif;
    font-size: 1em;
    font-weight: 400;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    width: 100%;
}

.form_reservas {
  background: rgb(243 236 236 / 44%)  no-repeat scroll 98% center;
  color: #000;
  font-family: Montserrat,sans-serif;
  font-weight: 500;
  min-height: 54px;
  max-width: 100%;
  padding: 0;
  text-rendering: optimizelegibility;
  width: 100%;
}
.select {
  background: #fff url(../images/iconos/flecha.png) no-repeat 98% center;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.boton {
  background-color: #f3ac2b;
  border: 3px solid #fff;
  width:auto;
}

.btn-secondary {
  color: #fff;
  background-color: #63aae9;
  border-color: #63aae9;
}

<!--DESCARTAR DESTINOS-->

.listado-viajes {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  height:250px;
}

<!--RESERVA-->

#datos_experiencia h3, .interiores #carro-final h2, .interiores .r-hora h4, .interiores h3 {
  color: #279fb0;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 2em;
  margin-bottom: 0.5em;
  padding: 0;
  text-align: left;
}

.interiores {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100%;
}

.panel {
  background-color: #f1f1f1b3;
  padding: 20px 40px;
  border-radius: 3px;
  box-shadow: 1px 2px 0px rgb(255 255 255 / 13%);
}
.card-services {
  text-align: center;
  background-color: #F1F1F1;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
}

.card-services img {
  max-width: 150px;
  width: 100%;
}

.card-services h3 {
  font-size: 20px;
  text-transform: uppercase;
}