.travel-card-image {
  height: 276px;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
}

.card {
  max-height: 278px;
  font-size: 10px;
}


ul {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;

}

article.contenido-regalo {
  background-image: url(https://cdn.pixabay.com/photo/2016/11/16/05/11/man-1828202_1280.jpg);
}

.home {
  padding: 50px 20px;
  /* padding: 190px; */
  background-image: url("/img/nada.jpg");
  background-position:center;
  background-size: cover;
  width: 100%;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 30%);
}

.home h1,
.home h2 {
  text-align: center;
  margin-bottom: 40px;
  text-shadow: 3px 3px 5px rgb(52, 54, 52);
}

.seleccionar-viajeros {
  background: #fff;
  border-top: 3px solid #efefef;
  height: auto;
  box-shadow: 0 8px 5px -6px rgb(0 0 0 / 28%);
  -moz-box-shadow: 0 8px 5px -6px rgba(0,0,0,.28);
  -webkit-box-shadow: 0 8px 5px -6px rgb(0 0 0 / 28%); 
}

body, html {
    color: #111;
    font-family: Montserrat,sans-serif;
    font-size: 1em;
    font-weight: 400;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    width: 100%;
}

.form_reservas {
  background: rgb(243 236 236 / 44%)  no-repeat scroll 98% center;
  color: #000;
  font-family: Montserrat,sans-serif;
  font-weight: 500;
  min-height: 54px;
  max-width: 100%;
  padding: 0;
  text-rendering: optimizelegibility;
  width: 100%;
}
.select {
  background: #fff url(../images/iconos/flecha.png) no-repeat 98% center;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.text-primary {
  color: rgb(0 112 212) !important;
  font-size: 35px;
  box-shadow: 1px 2px 0px rgb(255 255 255 / 13%);
}

.btn-primary {
  color: #000;
  background-color: rgb(245, 229, 8);
  border-color: rgb(225, 211, 9);
}

.btn-primary:hover {
  color: #000;
  background-color: rgb(225, 211, 9);
  border-color: rgb(245, 229, 8);
}

.btn-primary:focus {
  color: #000;
  background-color: rgb(245, 229, 8);
  border-color: rgb(225, 211, 9);
  box-shadow: 0 0 0 0.25rem rgba(253, 241, 67, 0.671);
}

.btn-primary:active {
  color: #000;
  background-color: rgb(225, 211, 9);
  border-color: rgb(189, 177, 9);;
}

.section-header {
  text-align: center;
  padding: 60px 15px;
  width: 100%;
  /* text-shadow: 1px 1px 1px rgb(0 0 0 / 20%); */
}

.section-header .separator {
  border-bottom: 2px solid rgb(245, 229, 8);
  width: 100%;
  max-width: 15em;
  margin-bottom: 2rem;
}

.image-box img {
  max-width: 150px;
}

.section-opinions {
  text-align: center;
  padding: 80px 0px;
  width: 100%;
}

.section-opinions .separator {
  border-bottom: 2px solid rgb(245, 229, 8);
  width: 100%;
  max-width: 15em;
  margin-bottom: 2rem;
}

<!--DESCARTAR DESTINOS-->

.listado-viajes {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  height:250px;
}

<!--RESERVA-->

#datos_experiencia h3, .interiores #carro-final h2, .interiores .r-hora h4, .interiores h3 {
  color: #279fb0;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 2em;
  margin-bottom: 0.5em;
  padding: 0;
  text-align: left;
}

.interiores {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100%;
}

.panel {
  background-color: #f1f1f1b3;
  padding: 20px 40px;
  border-radius: 3px;
  box-shadow: 1px 2px 0px rgb(255 255 255 / 13%);
  text-align: center;
}

h5 {
  color:rgb(0 112 212);
  margin-top: 40px;

}

p {
  color:floralwhite;
  text-shadow: 3px 3px 5px rgb(52, 54, 52);
}


