<header class="home">
  <div class="container">
    <form class="panel" method="GET" action="/travels-finder">
      <div class="row gx-3 gy-1">
        <div class="col">
          <select id="destination" class="form-select" aria-label="Destino" name="destination">
            <option value="europe">Europa</option>
            <option value="national">España</option>
          </select>
        </div>

        <div class="col">
          <select id="airport" class="form-select" aria-label="Destino" name="airport">
            <option value="BCN" selected>Barcelona (BCN)</option>
            <option value="MAD">Madrid (MAD)</option>
            <option value="PMI">Palma Mallorca (PMI)</option>
            <option value="ALC">Alicante (ALC)</option>
            <option value="AGP">Málaga (AGP)</option>
            <option value="SVQ">Sevilla (SVQ)</option>
            <option value="ZAZ">Zaragoza (ZAZ)</option>
            <option value="BIO">Bilbao (BIO)</option>
            <option value="VLC">Valencia (VLC)</option>
          </select>
        </div>

        <div class="col">
          <div class="input-group">
            <span class="input-group-text"><i class="fa fa-users fa-fw"></i></span>
            <input id="travelers" type="number" min="1" max="10" class="form-control" placeholder="Número de viajeros"
              aria-label="Username">
          </div>
        </div>

        <div class="col">
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping"><i class="fa fa-calendar-o fa-fw"></i></span>
            <input name="date" type="date" class="form-control" placeholder="Username" value="2022-01-22"
              min="2022-01-01" max="2023-12-31">
          </div>
        </div>

        <div class="col">
          <button class="btn btn-secondary text-uppercase" type="submit">Reservar</button>
        </div>

      </div>
    </form>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="d-flex flex-column card-services">
        <img src="https://drumwit.com/web/images/iconos/qi-billetes.png" alt="">
        <h3>¿QUÉ INCLUYE?</h3>
        <p>Viaja cómodamente</p>
      </div>
    </div>
    <div class="col">
      <div class="d-flex flex-column">
        <img src="https://drumwit.com/web/images/iconos/qi-billetes.png" alt="">
        <h3>¿QUÉ INCLUYE?</h3>
        <p>Viaja cómodamente</p>
      </div>
    </div>
    <div class="col">
      <div class="d-flex flex-column">
        <img src="https://drumwit.com/web/images/iconos/qi-billetes.png" alt="">
        <h3>¿QUÉ INCLUYE?</h3>
        <p>Viaja cómodamente</p>
      </div>
    </div>
  </div>
</div>



<!--QUÉ INCLUYE-->
<article class="que-incluye">
  <div class="caja-gris">
    <h2>¿QUÉ INCLUYE?</h2>
    <p>Viaja cómodamente</p>
  </div>
  <div class="caja">
    <ul>
      <li>
        <img src="https://drumwit.com/web/images/iconos/qi-billetes.png" alt="">
        <span>Los billetes de avión, ida y vuelta</span>
      </li>
      <li>
        <img src="https://drumwit.com/web/images/iconos/qi-hotel.png" alt="">
        <span>Las noches de hotel</span>
      </li>
      <li>
        <img src="https://drumwit.com/web/images/iconos/qi-emocion.png" alt="">
        <span>¡Y toda la emoción de un viaje sorpresa!</span>
      </li>
    </ul>
  </div>
</article>

<!--REGALA DRUMWIT-->
<div class="regala">

</div>

<article class="contenido-regalo">
  <div class="conFondo">
    <p class="small">Regala un viaje sorpresa</p>
    <h2>REGALA MR WEEKEND</h2>
    <p class="intro mb-uno">Tenemos claro que viajar es vivir y por eso sabemos que, regalando esta experiencia,
      ¡vas
      a acertar seguro! Con la opción Regalo, las fechas son abiertas y la persona destinataria podrá decidirlas
      cuando quiera.</p>
    <ul>
      <li>
        <img src="https://drumwit.com/web/images/regala/como-regalar-un-drumwit.png"
          alt="Imagen de un regalo del que sale un avión y estrellas">
        <p>Cómo regalar un Mr Weekend</p>
        <a class="boton mt-uno" href="https://drumwit.com/como-regalar-un-drumwit"
          title="Te contamos cómo puedes regalar un viaje Drumwit">
          DESCÚBRELO
        </a>
      </li>
      <li>
        <img src="https://drumwit.com/web/images/regala/regala-un-drumwit.png" alt="Ya hemos hecho la compra ahora qué">
        <p>Regala un Mr Weekend</p>
        <a class="boton mt-uno" href="https://drumwit.com/regala-un-drumwit" title="Regala un viaje MRWEEKEND">
          REGALA
        </a>
      </li>
      <li>
        <img src="https://drumwit.com/web/images/regala/canjea-tu-regalo.png" alt="Ya hemos hecho la compra ahora qué">
        <p>Canjea tu regalo Mr Weekend</p>
        <a class="boton mt-uno" href="https://MRWEEKEND.com/canjea-tu-regalo" title="Canjea tu regalo MRWEEKEND">
          CANJEA
        </a>
      </li>
    </ul>
  </div>
</article>


<!--OPINIONES-->

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item p-5 active">
      <div class="carousel-item-container">

        <img src="https://i.pinimg.com/originals/7b/b4/3e/7bb43e0911db522bdc6af21ff4ee7798.png" class="d-block w-5"
          alt="...">

        <h5>Bilbao</h5>
        <p>Maria, inolvidable. Repetiremos!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
</div>
</div>