<form method="post" action="/travels-finder">
    <!--DESCARTAR DESTINOS-->
    <div class="camino-de-migas">
        <a href="/" title="Inicio">
            <span class="solopc">Inicio</span> <span class="solomov"></span>
        </a>
        <input type="radio" class="radio-progress" name="progress" value="cinco" id="cinco" checked />
        <label for="seis" class="label">Descarta destinos</label>


        <a href="/travels/reserva" title="Reserva">
            <span class="solopc">Reserva</span> <span class="solomov"></span>
        </a>

    </div>

    <div id="descartar_destinos">
        <h2>DESCARTA DESTINOS A LOS QUE NO QUIERAS VIAJAR</h2>

        <p class="gris centrado mediano">Máximo 3 destinos</p <div class="pasos">
        <input type="submit" value="SEGUIMOS" name="submit4b" class="boton">
    </div>
    </div>


    <div class="container">
        <div class="row">
            {{#each travels as |travel|}}
            <div class="col-3">
                <div class="card bg-dark text-white">
                    <img src="{{travel.image}}" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title">{{travel.location}}</h5>
                    </div>
                </div>
            </div>

            {{/each}}
        </div>
            
        <div class="wrap_btn text-center mb-5"><a id="continuarPaso3" <a href="/travels/reserva"
                class="btn_goto_ancill btn btn-primary btn-lg bigger">Continuar</a>
        </div>
    </div>
</form>