<header class="europeHome">
  <h1><span style="color:white">Tu viaje </span><span
      style="color:rgb(245, 229, 8)"
    >sorpresa </span><span style="color:white">por Europa</span></h1>
  <h3><span style="color:white">Descubre tu destino sorpresa </span><span
      style="color:rgb(245, 229, 8)"
    >48 horas </span><span style="color:white">antes de salir!</span></h3>

  <div class="col-1 mx-auto">
    <div class="row">
      <a class="btn btn-primary text-uppercase" href="/"><strong>Empezar</strong></a>
      </button>
    </div>
  </div>
</header>

<div class="section-header mb-2">
  <div class="container d-flex flex-column align-items-center justify-content-center">
  
    <h3 class="text-primary">¿Como funciona?</h3>
    <div class="separator"></div>
  </div>
</div>

<div class="container mb-30px">
  <div class="row justify-content-center">
    <div class="col-3 justify-content-center">
      <div class="d-flex flex-column image-box">
        <img src="/img/iconos/ilu-1.png" alt="" />
        <h5>Personaliza tu viaje</h5>
        <p>Selecciona tu origen, número de viajeros y fechas para tu escapada.</p>
      </div>
    </div>
    <div class="col-3">
      <div class="d-flex flex-column image-box">
        <img src="/img/iconos/ilu-2.png" alt="" />
        <h5>Descarta los destinos</h5>
        <p>¿Algún destino que no te guste o ya hayas visitado?<br />Podrás
          eliminar 3 ciudades que quieras de tu lista.</p>
      </div>
    </div>
    <div class="col-3">
      <div class="d-flex flex-column image-box">
        <img src="/img/iconos/ilu-3.png" alt="" />
        <h5>¡Descubre tu sorpresa!</h5>
        <p>Mr Weekend se encargará de organizar tu viaje sorpresa, pero no
          sabrás cual será tu destino hasta 48 horas antes de salir.<br />¡A ver
          si puedes aguantar!</p>
      </div>
    </div>
  </div>
</div>

<div class="col-1 mx-auto">
  <div class="row">
      <a class="btn btn-primary text-uppercase" href="/"><strong>¡Vamos!</strong></a>
  </div>
</div>