<header class="spainHome">
  <h1><span style="color:white">Tu </span><span style="color:rgb(245, 229, 8)">roadtrip </span><span style="color:white">por España</span></h1>
  <h3><span style="color:white">¡Descubre tu destino sorpresa </span><span style="color:rgb(245, 229, 8)">24 horas </span><span style="color:white">antes de salir!</span></h3>

<div class="col-1 mx-auto">
    <div class="row">
      <a class="btn btn-primary text-uppercase" href="/"><strong>Empezar</strong></a>
      </button>
    </div>
  </div>
</header>

<div class="container mb-30px">
<div class="row">
    <div class="col-2 justify-content-center">
      <div class="d-flex flex-column image-box">
        <img src="/img/iconos/icono.png" alt="" />
        <p>Tu coche*</p>
        </div>
    </div>

    <div class="col-2 justify-content-center">
      <div class="d-flex flex-column image-box">
        <img src="/img/iconos/icono.png" alt="" />
        <p>Alojamiento</p>
        </div>
    </div>

    <div class="col-2 justify-content-center">
      <div class="d-flex flex-column image-box">
        <img src="/img/iconos/icono.png" alt="" />
        <p>Preparación de Ruta</p>
        </div>
    </div>

    <div class="col-2 justify-content-center">
      <div class="d-flex flex-column image-box">
        <img src="/img/iconos/icono.png" alt="" />
        <p>Asistencia</p>
        </div>
    </div>
    </div>
</div>

<div class="row-spain">
  <div class="container d-flex flex-column align-items-center justify-content-center">
    <h3 class="text-primary-price">Sólo 150€</h3>
    <div class="separator-simple"></div>
  </div>
</div>

<div class="section-header mb-2">
  <div class="container d-flex flex-column align-items-center justify-content-center">
    <h3 class="text-primary">¿Como funciona?</h3>
    <div class="separator"></div>
        <p>Con nuestro viaje sorpresa de 3 dias por España podrás vivir la experiencia de viajar a un destino desconocido, 100% a tu aire y en tu propio vehículo, al más puro estilo Roadtrip.<br>10 viajes sorpresa por 150€</p>
        <h6><strong>¿Te atreves?</strong></h6>
    <div class="separator"></div>
  </div>
</div>

<div class="container-pasos mb-30px">
  <div class="row justify-content-center">
    <div class="col-3 justify-content-center">
      <div class="d-flex flex-column image-box">
        <h5>1.Vehículo privado</h5>
        <p>Escapadas pensadas para que llegues a tu destino sorpresa utilizando tu propio vehículo.</p>
      </div>
    </div>
    <div class="col-3">
      <div class="d-flex flex-column image-box">
        <h5>2.Alojamiento</h5>
        <p>Los viajes sorpresa por España incluyen una habitación y baño privados, bien valorados  en Booking.com.</p>
      </div>
    </div>
    <div class="col-3">
      <div class="d-flex flex-column image-box">
        <h5>3.Guía y Asistencia</h5>
        <p>Te enviaremos una guía de tu ruta para que puedas centrarte en disfrutar de escapada sorpresa. ¡Mejor imposible!</p>
      </div>
    </div>
  </div>
</div>

<div class="col-1 mx-auto">
  <div class="row">
    <a class="btn btn-primary text-uppercase" href="/"><strong>¡Vamos!</strong></a>
  </div>
</div>
